.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: $footer;
    color: $photographyText;

    &__logo{
        margin: 2rem 0;
    }
    &__links{
        margin: 3rem 0;
    }
    &__link{
    margin: 1rem;
    color: inherit;
    }

    &__social-media{
        & > *{
            padding: 1rem;
            cursor: pointer;
        }
    }

    a{
        &:hover{
            color: $white;
        }
    }

}