//font-family
$font-first: 'Barlow', sans-serif;
$font-second: 'Fraunces', serif;

//primary color

$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$graphicDesignText: #25564b;
$photographyText: hsl(198, 62%, 26%);
$footer: hsl(168, 34%, 41%);


// secondary color
$veryDarkDesaturatedBlue:hsl(212, 27%, 19%);
$veryDarkGrayishBlue: hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

//Font sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-mlg: 2.25rem;

$font-xlg: 3.25rem;